# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

#clerk
.env

# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local

# Arquivos de configuração do Firebase
.firebase/
.firebase.json
.firebaserc
firestore.rules
firestore.indexes.json

# Cache e builds
dist/
build/
.cache/
.expo/
.expo-shared/

# Configurações do editor
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do sistema
.DS_Store
Thumbs.db
